/* .list {
    background-color: rgb(126, 123, 123);
} */

.box-container {
    border: 1px solid #ccc; /* Set border width and color */
    border-radius: 5px; /* Add border radius for rounded corners */
  }